body{
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-width: 100vw;

    background-color: #374130;
    font-family: monospace;
    margin: 0;
    color: #cae9b6;
}

h2{
    font-size: 1.25em;
}

.container-header{
    display: flex;
    justify-content: space-between;
    background-color: #536149;
    padding: 1.5em;
    font-family: monospace;
    font-size: 1.5em;
}

.links-header-vertical{
    display: none;
}

.container-presentation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    justify-content: space-evenly;

    max-width: 100%;
    padding: 2em;
    background-color: #20271c;
}

.presentation-text{
    max-width: 60ch;
}

.photo{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    min-width: 200px;
    min-height: 200px;
    filter: drop-shadow(0.2em 0.15em 0 rgb(97, 107, 81));
}
figcaption{
    width: 40ch;
    margin: 3%;
}

.container-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;

    padding: 1em;
    max-width: 100%;
    height: 100%;
    
    background-color: #374130;
}

.list-item-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
    justify-self: center;
    flex: 0 1 13ch;

    background-color: #262522;
    text-align: center;
    height: 10em;
    margin: 0.2em;
    padding: 0.75em;
    border-radius: 10%;

    filter: drop-shadow(0.2em 0.15em 0 rgb(97, 107, 81));
}

.container-hobbies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 0.25em;
}

.container-top5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

.top-x-box{
    background-color: #b5afa5;
    color: #141311;
    padding: 1.5em 0.75em;
    border-radius: 15%;

    position: relative;
    bottom: 66.5%;
    right: 40%;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    
    padding: 1em 6em;
    background-color: #536149;
}

.container-contact{
    background-color: #768969;
    padding: 0.75em;
    border-radius: 0.75em;
    max-width: 20em;
    margin: 0.5em;
}
.link-img{
    max-height: 2em;
    max-width: 2em;
}

/*Considero este valor como a vertical*/
@media screen and (max-width: 850px){
    .container-footer{
        flex-flow: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    .links-header-vertical{
        display: inline;
    }
    .links-header-wide{
        display: none;
    }
    .checkbox-link-list{
        border: none;
        outline: none;
        background-color: inherit;
    }
    .link-list{
        display: none;
    }
    .link-list:hover .link-list{
        display: block;
    }
}